.datawrapper-responsive-container {
    position: relative;
    width: 100%;
    padding-bottom: 60%; /* Adjust this value to control the aspect ratio (e.g., 56.25% for 16:9, 75% for 4:3) */
    height: 0;
    overflow: hidden;
}

.datawrapper-responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
